.feed-list-container {
  margin: 0 3.6rem;
  color: white;
}

.button-primary {
  width: 100%;
  border: none;
  border-radius: 5px;
  padding: 0.5rem;
}

.activeItemList {
  color: orange;
}

.itemList {
}
