.App {
  text-align: center;
  height: 100%;
}

.main-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2.4rem;
}

.active-video-area-container {
  flex: 2;
  color: white;
}
